﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#product-list li {
    list-style-type: none;
    flex: 25%;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    justify-content: space-between;
}

#product-list a {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-decoration: none;
}

#product-list span:first-of-type {
    margin-top: 10px;
}

.navbar {
    height: 6px;
}