﻿@model IEnumerable<MiniMart.Models.Product>
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@helper formatAmount(decimal amount) { 
    @String.Format("{0:c}", amount)    
}
@{
    ViewBag.Title = "Browse Products";
}

<div>
    <ul id="product-list">
        @foreach (var product in Model)
        {
            <li>
                <a href="@Url.Action("Details",
                    new { id = product.Id })">
                    <img alt="@product.Name"
                         src="@product.ArtUrl" width="208" height="208"/>
                    <span>@product.Name</span>
                    <span>@Truncate(@product.Description, 25)</span>
                    <span>@formatAmount(@product.Price)</span>
                </a>
            </li>
        }
    </ul>
</div>
