﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    An error occurred while processing your request.
    <a href="javascript:history.go(-1)">Click here</a>
    if you'd like to go back and try that again.
</h2>

